# Node.js
node_modules/
node_modules
npm-debug.log
yarn-error.log

# Build artifacts
build/
dist/

# Environment variables
.env

# Editor specific files
.vscode/
*.swp

# Logs
log/
logs/
*.log

# Cache and compiled files
*.cache/
*.log
*.pid
*.seed
*.pid.lock

# Dependency directories
/.pnp
.pnp.js
.pnp.cjs
